// Navigation Styles here
.header_container{
    .flex-row();
    padding: 10px; 
    margin-left: 25%;
    
  
    .Nav_container{
        .flex-row();
        justify-items: space-evenly;
        text-decoration: none;
        margin-left: 30%;
        

        a{
            padding: 10px;
            text-decoration: none;
            color:@font-color;
            font-size: 1.3rem;

        }
    } 
}
.nav_border{
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
}


